* {
  margin: 0;
  padding: 0;
}

.btn-main {
  background: #fed136;
  color: #fff;
  padding: 20px 60px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: all 1s;
  cursor: pointer;
}

.btn-main:hover {
  background: #fff;
  color: #fed136;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding: 100px 0 20px 0;
  text-transform: uppercase;
}

.section-description {
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  color: #777;
  font-style: italic;
  padding-bottom: 80px;
}

.main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/images/BackgroundImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 800px;
  color: #fff;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.right-nav ul li {
  display: inline-block;
  margin-left: 45px;
  margin-top: 60px;
}

.right-nav ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 1s;
}

.right-nav ul li a:hover {
  color: #fed136;
  border-bottom: 1px solid #fff;
}

.left-nav {
  font-family: "Pacifico", cursive;
  font-size: 26px;
  margin-top: 30px;
  color: #fed136;
}

.splash {
  margin-top: 200px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.splash h1 {
  font-size: 75px;
  margin-top: 50px;
}

.splash h2 {
  font-size: 40px;
}

.splash button {
  margin-top: 50px;
}

.services {
  text-align: center;
}

.services-cards {
  display: -ms-flexbox;
  display: flex;
  padding: 0 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services-cards i {
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
  padding: 20px;
  font-size: 40px;
}

.card-title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.card-description {
  font-size: 14px;
  color: #777;
  font-family: "Roboto Slab", serif;
  margin-top: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 100px;
}

.card {
  width: 300px;
}

.card {
  transition: transform 1s;
}

.card:hover {
  transform: rotate(360deg);
}

.portfolio {
  text-align: center;
  background: #f7f7f7;
  padding-bottom: 100px;
}

.portfolio-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 150px;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.port-card {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  margin: 20px;
  background: #fff;
  max-width: 350px;
}

.port-card img {
  width: 100%;
  transition: all 1s;
}

.port-card img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px 5px #888888;
}

.card-title {
  background: #fff;
}

.port-card p {
  margin: 0;
  font-style: italic;
  margin-bottom: 20px;
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 30px 230px;
}

.social i {
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 25px 0 0 30px;
  font-size: 20px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}

.social i:hover {
  background: #fff;
  border: 2px solid #000;
  color: #000;
}

.copy {
  font-family: "Montserrat", sans-serif;
  color: #777;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .main {
    height: 100vh;
  }
  .splash {
    margin-top: 90px;
  }
  .splash h1 {
    font-size: 55px;
  }
  .splash h2 {
    font-size: 30px;
  }
  .services-cards {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .card {
    width: 100vw;
  }
  .port-card {
    width: 100vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .portfolio-cards {
    padding: 0;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0;
  }
  .copy {
    width: 100vw;
    text-align: center;
    padding: 20px 0;
  }
  .social {
    text-align: center;
    padding-bottom: 30px;
  }
  .social i {
    padding: 20px 10px 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .services-cards {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    padding: 0;
  }
  .card {
    width: 100vw;
  }
  .splash h1 {
    font-size: 50px;
  }
  .footer {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0;
  }
  .copy {
    width: 100vw;
    text-align: center;
    padding: 20px 0;
  }
  .social {
    text-align: center;
    padding-bottom: 30px;
  }
  .social i {
    padding: 20px 10px 0 10px;
  }
  .port-card {
    width: 100vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .portfolio-cards {
    padding: 0;
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */